.title {
  color: #d17777
}

body {
  font-family: Helvetica;
  color: #d99393;
  text-align: center;
  padding: 20px;
  background: #f5e7e2;
}

#malla {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
}

.columna {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff8f5;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

.columna h2 {
  margin: 0;
  font-size: 1.2em;
  color: #6e1a1a;
  text-align: center;
}

.materia {
  padding: 10px;
  border-radius: 8px;
  background-color: #e19494;
  border: 3px solid #b66262;
  cursor: pointer;
  min-width: 200px;
  transition: 0.2s;
}

.habilitada {
  background-color: #660000;
  border-color: #3e0505;
}

.deshabilitada {
  background-color: #e3b5a4;
  color: #d4a493;
  border-color: #d4a493;
  cursor: not-allowed;
}

.cursada {
  background-color: #e68a00; /* naranja o amarillo suave */
  border-color: #cc7a00;
  color: white;
}

.aprobada {
  background-color: #e24141;
  border-color: #c73636;
  color: #660000;
}

#progreso-container {
  width: 100%;
  background-color: #f2c3c3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  height: 30px;
}

#progreso-barra {
  height: 100%;
  background-color: #af3333;
  width: 0%;
  transition: width 0.3s ease;
}

#progreso-texto {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  pointer-events: none;
}

#malla-tecnico {
  display: inline-flex; /* que el contenedor se ajuste al ancho de sus hijos */
  gap: 20px;
  padding: 10px 0;
  overflow-x: visible; /* para evitar scroll si no es necesario */
  max-width: none; /* asegurate que no limite el ancho */
}

#malla-licenciatura {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
}

#tecnico-container, #licenciatura-container {
  background: #fff8f5;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px #ccc;
}

#tecnico-container h2, #licenciatura-container h2 {
  color: #b25e00;
  margin-top: 0;
}
#licenciatura-container {
  background: #fff8f5;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 12px #ccc;
}

#tecnico-container {
  background: #fdf0e6;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 8px #b25e00aa;
}

#tecnico-container h3 {
 width: max-content; /* ajusta al contenido */
  margin: 0 auto 20px; /* para centrarlo y dar espacio abajo */
  background: #fdf0e6;
  border-radius: 12px;
  padding: 15px;
  box-shadow: inset 0 0 8px #b25e00aa;
}
